In [164]:
# IMPORTS

import numpy as np
import pandas as pd

In [165]:
# BUILDING BOARDS

class Board:
    def __init__(self, size_of_board = 10):
        self.size_of_board = size_of_board
        self.boats = pd.DataFrame('',
                                  columns = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[:size_of_board],
                                  index = list(range(1, self.size_of_board + 1)),
                                 )
        
        self.shots = self.boats.copy()

        return None
    
    def clear(self):
        self.boats.loc[:, :] = ''
        self.shots.loc[:, :] = ''

In [166]:
player_board = Board()
pc_board = Board()

player_board.boats, player_board.shots, pc_board.boats, pc_board.shots

(   A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    )

In [167]:
# BOATS COORDINATES

player_boats = [('A', 10), ('D', 10), ('G', 10), ('E', 5),
                ('B', 4), ('C', 4), ('J', 8), ('J', 9), ('G', 1), ('G', 2),
                ('B', 2), ('C', 2), ('D', 2), ('C', 8), ('D', 8), ('E', 8),
                ('H', 5), ('H', 6), ('H', 7), ('H', 8)]

pc_boats = [('C', 1), ('G', 1), ('A', 4), ('D', 3),
            ('B', 8), ('B', 9), ('D', 5), ('E', 5), ('H', 9), ('I', 9),
            ('D', 7), ('E', 7), ('F', 7), ('H', 3), ('H', 4), ('H', 5),
            ('J', 4), ('J', 5), ('J', 6), ('J', 7)]

In [168]:
# INSERT BOATS

for position in player_boats:
    player_board.boats.loc[position[1], position[0]] = 'O'

for position in pc_boats:
    pc_board.boats.loc[position[1], position[0]] = 'O'

In [169]:
player_board.boats

    A  B  C  D  E F  G  H I  J
1                    O
2      O  O  O       O
3
4      O  O
5               O       O
6                       O
7                       O
8         O  O  O       O    O
9                            O
10  O        O       O

In [170]:
pc_board.boats

    A  B  C  D  E  F  G  H  I  J
1         O           O
2
3            O           O
4   O                    O     O
5            O  O        O     O
6                              O
7            O  O  O           O
8      O
9      O                 O  O
10

In [171]:
# CLEAR BOARDS

player_board.clear()
pc_board.clear()

In [172]:
player_board.boats, player_board.shots, pc_board.boats, pc_board.shots

(   A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    ,
    A B C D E F G H I J
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10                    )

In [173]:
# (N) - Crear una nueva función shoot_pc(board) que haga los disparos de la máquina

# SHOOT

def shoot(board):
    raw_coord = input('Introduce coordenadas:').upper()
    row = int(raw_coord[1:])
    col = raw_coord[0]
    
    # Comprobar si las coordenadas se salen del tablero
    while (row > 11 or row < 1) or (col not in list('ABCDEFGHIJ')):
        print('Coordenadas erróneas.')
        raw_coord = input('Introduce coordenadas:').upper()
        row = int(raw_coord[1:])
        col = raw_coord[0]
    
    # Comprobar si ya se ha disparado anteriormente a esa coordenada
    while (board.loc[row, col] == '~') or (board.loc[row, col] == 'X'):
        print('Ya has disparado a ese lugar.')
        raw_coord = input('Introduce coordenadas:').upper()
        row = int(raw_coord[1:])
        col = raw_coord[0]
    
    # Pintar X si se ha acertado y ~ si se ha fallado
    if board.loc[row, col] == 'O':
        board.loc[row, col] = 'X'
    
    else: board.loc[row, col] = '~'

In [174]:
shoot(player_board.shots)

Introduce coordenadas: A1

In [162]:
player_board.shots

      A    B    C    D    E    F    G    H    I    J   10
1                                                     NaN
2                                                     NaN
3                                                     NaN
4          ~         ~                                NaN
5          ~                                       ~  NaN
6                                                     NaN
7                              ~                      NaN
8                                                     NaN
9                                                     NaN
10         X                                          NaN
B   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    X